<?xml version="1.0" encoding="UTF-8"?>


<module xmlns="urn:jboss:module:1.5" name="org.apache.pdfbox">

    <resources>
 	    <resource-root path="fontbox-3.0.4.jar"/>
        <resource-root path="pdfbox-3.0.4.jar"/>
        <resource-root path="pdfbox-io-3.0.4.jar"/>
        <resource-root path="xmpbox-3.0.4.jar"/>
 	    <resource-root path="preflight-3.0.4.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
	    <module name="org.apache.commons.logging"/>         
        <module name="org.bouncycastle"/>      
    </dependencies>
</module>
