
.ui-icon-size-16 {
    width:  16px !important;
    height:  16px !important;
    background-size: 16px 16px !important;
}
.ui-icon-size-22 {
    width:  22px !important;
    height:  22px !important;
    background-size: 22px 22px !important;
}
.ui-icon-size-32 {
       
    width:  32px !important;
    height:  32px !important;
    background-size: 32px 32px !important;
}

.ui-icon-panel-Header {
    border-radius: 0;
    width:  38px !important;
    height:  38px !important;
    background-size: 38px 38px !important;
    float: left;
}
.ui-icon-svg-test {
    background-image: url("#{resource['images:/test.svg']}") !important;    
}
.ui-icon-svg-ok {
    background-image: url("#{resource['images:/ok.svg']}") !important;    
}
.ui-icon-svg-cancel {
    background-image: url("#{resource['images:/cancel.svg']}") !important;    
}
