.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
    margin-top: 3px !important;
    position: absolute;
    top: 0 !important;
}


.ui-icon-size-16 {
    width:  16px !important;
    height:  16px !important;
    background-size: 16px 16px !important;
}
.ui-icon-size-22 {
    width:  22px !important;
    height:  22px !important;
    background-size: 22px 22px !important;
}
.ui-icon-size-32 {
       
    width:  32px !important;
    height:  32px !important;
    background-size: 32px 32px !important;
}

.ui-icon-panel-Header {
    border-radius: 0;
    width:  38px !important;
    height:  38px !important;
    background-size: 38px 38px !important;
    float: left;
}

.ui-icon-svg-meps {
    background-image: url("#{resource['images:/meps.svg']}") !important;    
}
.ui-icon-svg-add {
    background-image: url("#{resource['images:/add.svg']}") !important;    
}

.ui-icon-svg-cancel {
    background-image: url("#{resource['images:/cancel.svg']}") !important;    
}

.ui-icon-svg-down {
    background-image: url("#{resource['images:/down.svg']}") !important;    
}

.ui-icon-svg-edit {
    background-image: url("#{resource['images:/edit.svg']}") !important;    
}

.ui-icon-svg-envelope {
    background-image: url("#{resource['images:/envelope.svg']}") !important;    
}


.ui-icon-svg-ok {
    background-image: url("#{resource['images:/ok.svg']}") !important;    
}

.ui-icon-svg-refresh {
    background-image: url("#{resource['images:/refresh.svg']}") !important;    
}

.ui-icon-svg-remove {
    background-image: url("#{resource['images:/remove.svg']}") !important;    
}

.ui-icon-svg-resend {
    background-image: url("#{resource['images:/resend.svg']}") !important;    
}

.ui-icon-svg-save {
    background-image: url("#{resource['images:/save.svg']}") !important;    
}

.ui-icon-svg-search {
    background-image: url("#{resource['images:/search.svg']}") !important;    
}


.ui-icon-svg-top {
    background-image: url("#{resource['images:/top.svg']}") !important;    
}


.ui-icon-svg-up {
    background-image: url("#{resource['images:/up.svg']}") !important;    
}